.top{
    background: linear-gradient(rgba(22, 22, 22, 0.5), rgba(39, 39, 39, 0.5)), url(../images/sergey-pesterev-wdMWMHXUpsc-unsplash.jpg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* about info styles */

.about-info{
    width: 70%;
    margin: auto;
    padding: 20px;
}

.about-header{
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
}

.t-p{
    margin: 20px 0;
    line-height: 2rem;
}

.info-img{
    width: 100%;
    height: 40vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.hotel{
    grid-template-columns: 1fr 1fr;
}

.ani-img{
    width: 100%;
    border-radius: 20px;
}
/* about info styles end */