.top{
    background: linear-gradient(rgba(22, 22, 22, 0.5), rgba(39, 39, 39, 0.5)), url(../images/ashim-d-silva-h8b1T39sm2w-unsplash.jpg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* summary styles */

.summary{
    color: white;
    margin-bottom: 10px;
}

#price{
    color: white;
}

/* summary styles end */

.ticket-inp{
    margin: 10px 0;
}